.gradle/5.2.1/gc.properties
.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/executionHistory/executionHistory.lock
.gradle/5.2.1/fileChanges/last-build.bin
.gradle/5.2.1/fileContent/fileContent.lock
.gradle/5.2.1/fileHashes/fileHashes.bin
.gradle/5.2.1/fileHashes/fileHashes.lock
.gradle/5.2.1/fileHashes/resourceHashesCache.bin
.gradle/5.2.1/javaCompile/classAnalysis.bin
.gradle/5.2.1/javaCompile/jarAnalysis.bin
.gradle/5.2.1/javaCompile/javaCompile.lock
.gradle/5.2.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/.gitignore
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/dictionaries/moka.xml
.idea/sonarlint/issuestore/index.pb
